<% include ../include/admin_header %>
<div class="set_form_base_form">
	<section>博客名:<input type="text" name="title"  id="js_blog_name" /></section>
	<section>格&nbsp;&nbsp;&nbsp;言:<textarea name="motto"  id="js_motto"></textarea></section>
	<button type="button" onclick="setBlogBase()">保存</button>
</div>
<% include ../include/javascript%>

<% include ../include/admin_footer %>