<% include header %>
	<div>
		<div class="login_box">
		</div>
		<section class="login_window">
			<h2>神秘入口</h2>
				<p class="input_style"><input id="js_user" type="text" placeholder="请输入帐号"/></p>
				<p class="input_style"><input id="js_password" type="password" placeholder="请输入密码"/></p>
				<p class="input_style"><button class="js_login_btn" onclick="login()">登录</button><a href="/reg" class="reg_btn">注册</a></p>
			<a  class="go_home loing_reg_btn" href="/" title="返回首页">主页</a>
		</section>
	</div>
	<%- include include/user_js %>
<% include footer %>
