<% include include/admin_header %>
<div class="post_module">
	<p class="title_p">标题:</p>
	<input type="text" id="js_title" class="title" /><br/>
	<p class="title_p">标签: </p>
	<input type="text" name="tag1" id="js_tags" placeholder="多个标签时用';'隔开（默认为闲谈）"/>
	<p class="title_p">正文: </p>	
	<textarea id="js_content" class="content"></textarea><br>
	<button onclick="post()" class="post_btn">提交</button>
</div>
<% include include/javascript %>
<% include include/admin_footer %>