<html>
<head>
	<meta charset="utf-8">
	<title>博客后台</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<div class="admin_left_module">
	<section class="header_top_box">
		<figure>
			<img src="/images/header.jpg">
			<figcaption>Tryzf</figcaption>
		</figure>
	</section>
	<input type="search" placeholder="Search">	
	<nav>
		<ul>
			<li><a href="/">主  页</a></li>
			<li><a href="/post">发表文章</a></li>
			<li><a href="/upload">上传文件</a></li>
			<li><a href="/base">基本设置</a></li>
			<li><a href="/set_password">更改密码</a></li>
		</ul>
	</nav>
</div>
<div class="admin_right_module">
	<h2 class="curr_position">当前位置：<%= title %></h2>

